.theme-selector {

    display: flex;
    flex-direction: row;
  }
  
  
  .theme-grid{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease; 
  }
  
  .theme-selector.show-themes .theme-grid {
    width: 100%;
  }
  
  .theme-selector-icon{
    color: var(--secondary-text); 
    font-size: 2.5rem;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .theme-selector-icon:hover{
    opacity: .7;
  }
  
  
  
  .theme-swatch {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 7px;
    cursor: pointer;
    transition: transform 0.2s ease, border-radius 0.2s ease;
    transform-origin: bottom;
    cursor: pointer;
  }
  
  .theme-swatch:hover {
    transform: scale(1.25);
    border-radius: 15%;
    overflow: visible;
  }
  
  
  