.home-page-top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.name-and-title {
    text-align: end;
    border-width: 0 2px 0 0;
    border-style: solid;
    border-radius: 15px;
    border-color: var(--secondary-text);
    padding: 5rem;
}

.full-name {
    font-size: 6rem;
    font-weight: 300;
    color: var(--primary-text);
  }

.project-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
}

.project-link {
    font-size: 6rem;
}

.about-snippet {
    margin: 10rem;
    padding: 5rem;

    p {
        font-size: 1.25rem;
        color: var(--primary-text);
    }
}

.skills-and-tools-container {
    display: flex;
    flex-direction: column;
    li {
        color: var(--primary-text);
    }
}

.skills-and-tools {
    padding: 1rem;
    text-align: center;

}


.contact-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  
  input, textarea, select {
    color: var(--primary-text);
    background-color: var(--secondary-background);
    border: 1px solid var(--primary-background);
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  input::placeholder, textarea::placeholder {
    color: var(--highlight-accent); 
  }
  
  input:focus, textarea:focus, select:focus {
    border-color: var(--primary-background);
  }